@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50,200..900&family=Poiret+One&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/*
---The NavBar--
*/
.navBar {
  margin: 1rem;
  position: sticky;
  background-color: #8fbedf;
  padding: 0.5rem;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.navContent {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.leftBar {
  display: flex;
  flex-direction: column;
}

.slogan {
  font-family: Inconsolata, monospace;
  margin: 0;
  font-size: 20px;
}

.img_and_name {
  display: flex;
  align-items: center;
}

.rightBar {
  align-self: flex-end;
  margin-bottom: 1px;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.searchBar input {
  width: 85%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: thin;
}

.searchBar button {
  padding: 1rem 1rem;
  margin: 2px;
  border-radius: 8px;
}

/*
--The Visualizer Space---
*/
.visualizer {
  border: black;
  border-style: dotted;
  border-radius: 10px;
}
